/* загальні стилі*/
:root {
	--main-color: #212121;
	--secondary-color: #757575;
	--accent-color: #2196f3;
	--white-color: #fff;
	--black-color: #000;
	--team-bg-and-button-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--box-line-color: #eeeeee;
	--horizontal-line-color: #ececec;
	--alfa-white-color: #ffffff99;
	--card-set-gap: 30px;
	--portfolio-shadow-box: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	--studio-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.body {
	font-family: roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--main-color);
	background-color: var(--white-color);
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
	margin-top: 0;
}

img {
	display: block;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	width: 1200px;

	/* outline: 2px solid tomato; */
}

.button-list {
	justify-content: center;
}

.button-item:not(:last-child) {
	margin-right: 8px;
}

.section {
	padding: 94px 0;
}

.section.no-padding-bottom {
	padding-bottom: 0px;
}

/* лише для реалізації стилів у футері та герої, бо буде з білим фоном зливатися */
.background-footer,
.background-hero {
	background-color: var(--footer-bg-color);
}

.background-hero {
	padding: 200px 0;
}

.background-footer {
	padding: 60px 0;
}

.background-team-list {
	background-color: var(--team-bg-and-button-color);
}

/* логотип */
.logo {
	margin-right: 93px;
	padding: 25px 0;

	font-family: raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--black-color);
	text-decoration: none;
}

.logo-el {
	color: var(--accent-color);
}
.inner-color {
	color: var(--white-color);
	margin: 0;
	padding: 0;
}

.link {
	display: block;
	padding: 32px 0;
	color: var(--main-color);
	text-decoration: none;
}

.link:hover,
.link:focus {
	color: var(--accent-color);
}

.link.current {
	color: var(--accent-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* кнопка */
.button {
	padding: 6px 25px 6px 25px;
	margin: 0 auto;
	font-family: roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	display: block;
	align-items: center;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 4px;

	color: var(--main-color);
	background-color: var(team-bg-and-button-color);
}

.hero-button {
	display: block;
	padding: 10px 32px 10px 32px;
	color: var(--white-color);
	background-color: var(--accent-color);
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.current,
.button:hover,
.button:focus {
	color: var(--white-color);
	background-color: var(--accent-color);
}

/* шапка сайту */
.header {
	height: 80px;
	border-bottom: 1px solid var(--horizontal-line-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	/* background-color: chocolate; */
}

.header-text {
	color: var(--secondary-color);
}

/* nav */
/* .flex-container {
	display: flex;
	align-items: center;
}

.main-nav {
	display: flex;
	align-items: center;
}

.main-nav > ul {
	display: flex;
} */

.flex-ability {
	display: flex;
	margin: 0;
	padding: 0;
}

/* .flex-ability.center {
	align-items: center;
} */

.wrap-element * {
	outline: 1px solid tomato;
}

.auth-list {
	display: flex;
	margin-left: auto;
}

.flex-ability .item:not(:last-child) {
	margin-right: 50px;
}

.flex-ability .item-img:not(:last-child) {
	margin-right: 30px;
}

/* унікальний контент */

/* .background-hero {
	background-color: teal;
}
.bgc-one {
	background-color: chocolate;
}

.bgc-two {
	background-color: lightgreen;
} */
.hero {
	width: 686px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-color);
}

.section-title {
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-color);
}

.section-sub-title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.large-section-title {
	font-size: 36px;
	line-height: 1.67;
}

.section-text {
	margin: 0;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}

.section-text-lower {
	width: 270px;
	margin: 0;
	line-height: 1.71;
	color: var(--secondary-color);
}

.name-list {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.item-img > .section-text {
	margin-bottom: 30px;
	text-align: center;
}

/* .item-img > img {
	margin-bottom: 30px;
} */

.background-team-list .flex-ability > .item-img {
	box-shadow: var(--studio-box-shadow);
	border-radius: 0px 0px 4px 4px;
}

/* portfolio */
.portfolio-list {
	padding: 0;
	margin: 0;
	margin-top: 50px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.portfolio-list > .portfolio-item {
	flex-basis: calc(100% / 3 - var(--card-set-gap));
	box-shadow: var(--portfolio-shadow-box);
}
.portfolio-item:not(:nth-child(3n)) {
	margin-right: var(--card-set-gap);
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: var(--card-set-gap);
}

.portfolio-item .portfolio-content,
.porfolio-text {
	padding-left: 24px;
	text-align: left;
}

.porfolio-text {
	padding-bottom: 20px;
}

.portfolio-content {
	padding-top: 20px;
	margin-bottom: 4px;
}

/* підвал */

.footer-text {
	padding: 0;
	line-height: 1.71;
	color: var(--white-color);
}

.footer-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-item:first-child {
	margin-top: 20px;
}

.footer-contacts {
	color: var(--alfa-white-color);
}
